.otp_client/*
ubuntu_*/otp-voip/debian/.debhelper
ubuntu_*/otp-voip/debian/files
ubuntu_*/otp-voip/debian/otp-voip
ubuntu_*/otp-voip/debian/otp-voip.debhelper.log
ubuntu_*/otp-voip/debian/otp-voip.substvars
ubuntu_*/otp-voip_*.dsc
ubuntu_*/otp-voip_*.tar.xz
ubuntu_*/otp-voip_*_source.*
ubuntu_*/otp-voip_*.dsc
ubuntu_*/otp-voip_*.build
ubuntu_*/otp-voip_*.buildinfo
ubuntu_*/otp-voip_*.changes
ubuntu_*/prepare_sd.sh
shares/logs
shares/tmp
shares/*.pydevproject
shares/*.project
shares/*.bak_*
*.7z
todo.txt
data
*_dev.sh

